.myProfileContainer main {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.myProfileContainer .myProfileWidthLimiter {
  max-width: 650px;
  background: #fff;
  box-shadow: 0 3px 5px #ccc;
  border-radius: 2px;
  padding: 30px;
}
.myProfileContainer .myProfilePhoto {
  margin-bottom: 20px;
}
.myProfileContainer .profileDataContainer input[type="text"] {
  display: block;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  padding-left: 5px;
  transition: border 0.2s;
}
.myProfileContainer .profileDataContainer input[type="text"]:focus {
  border-bottom: 2px solid #ec407a;
}
.myProfileContainer .profileDataContainer {
  font-size: 14px;
  overflow: hidden;
}
.myProfileContainer .profileDataContainer label {
  color: #999;
  margin: 10px 0 0 0;
}
.myProfileContainer .profileDataContainer textarea {
  border: none;
  resize: none;
  width: 100%;
  border-bottom: 2px solid #ddd;
  outline: none;
  transition: border 0.2s;
}
.myProfileContainer .profileDataContainer textarea:focus {
  border-bottom: 2px solid #ec407a;
}
