footer {
  background: #0a0a0a;
  color: #fff;
}
footer h3 {
  display: inline-block;
}
.contactIcon {
  margin-right: 10px;
  cursor: pointer;
}

.imgLogoFooter {
  width: 80px;
  margin-right: 10px;
}
