.communityContainer .logoImage {
  width: 50px;
  margin-right: 10px;
}

.communityContainer .navbar-inverse {
  border: none;
}
.communityContainer .navbar {
  background: #ec407a;
  margin: 0;
  padding: 0.5rem 0.5rem;
  box-shadow: 2px 0 3px #ccc;
}
.communityContainer .navbar .navbar-nav a {
  color: #fff;
}
.communityContainer .navbar-brand a {
  color: #fff !important;
  text-decoration: none;
}
.communityContainer .navbar-brand {
  padding: 0;
}

.communityContainer .userIcon {
  margin-left: auto;
  margin-right: 10px;
  position: relative;
}
.userIcon .profilePicture {
  cursor: pointer;
  user-select: none;
}

.profileMenuDrop.profileMenuDropDisable {
  display: none;
}

.profileMenuDrop {
  position: absolute;
  top: 122%;
  right: -51%;
  background: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  z-index: 2;
  box-shadow: -1px 2px 3px #ccc;
}
.profileMenuDrop a:hover {
  background: #f5f5f5;
}
.profileMenuDrop a {
  padding: 5px 60px 5px 15px;
  white-space: nowrap;
  color: #0a0a0a;
  font-size: 14px;
  text-decoration: none;
  border-radius: 3px;
}
