@font-face{
    font-family: 'SourceSerifPro';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/SourceSerifPro-Regular.ttf');
}

body, html{
    font-family: 'SourceSerifPro', sans-serif;
}