.inputBtnIcon input[type="text"],
.inputBtnIcon input[type="password"],
.inputBtnIcon input[type="email"] {
  padding: 7px;
  color: #0a0a0a;
  background: #777;
  border: 1px solid;
}
.inputBtnIcon input[type="text"]::placeholder,
.inputBtnIcon input[type="password"]::placeholder,
.inputBtnIcon input[type="email"]::placeholder {
  color: #a8a8a8;
}
.inputBtnIcon input[type="text"]:active,
.inputBtnIcon input[type="password"]:active,
.inputBtnIcon input[type="email"]:active,
.inputBtnIcon input[type="text"]:focus,
.inputBtnIcon input[type="password"]:focus,
.inputBtnIcon input[type="email"]:focus {
  outline-color: #f48fb1;
}

.inputBtnIcon a {
  background: #ec407a;
  padding: 10px 15px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.inputBtnIcon.btnClickable a {
  cursor: pointer;
}

.inputBtnIcon.btnLeft a {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btnIcon {
  background-color: #ec407a;
  color: #fff;
  padding: 7px 60px;
  border-radius: 3px;
}
.btnIcon:hover {
  color: #fff;
  text-decoration: none;
}
