.postHeader {
  background: #fbfbfb;
  padding: 15px 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 3px 3px 3px #ccc;
}
.postBody {
  background: #fff;
  padding: 15px 25px;
  box-shadow: 3px 3px 3px #ccc;
  font-size: 14px;
  color: #3b3b3b;
  word-wrap: break-word;
}

.postFooter {
  background: #fbfbfb;
  padding: 15px 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px 3px #ccc;
  display: flex;
  justify-content: space-between;
}
.postFooter .deletePostIcon {
  transition: color 0.2s;
  cursor: pointer;
}
.postFooter .deletePostIcon:hover {
  color: #ec4046;
}
.postFooter span {
  margin-left: 5px;
  margin-right: 20px;
  font-size: 12px;
  color: #888;
}
.postFooter strong {
  display: inline;
  margin-left: auto;
}
.postHeader span {
  font-size: 13px;
  color: rgb(148, 148, 148);
  display: block;
}
.postHeader h6 {
  color: #0a0a0a;
  margin: 0;
  line-height: 1;
  display: inline-block;
}
.postHeader h6:hover {
  opacity: 0.7;
}
.communityContainer {
  font-family: sans-serif;
}
.iconBorderActive,
.iconBorder {
  cursor: pointer;
  transition: transform 0.1s;
}
.iconBorderActive path {
  stroke: black;
  stroke-width: 15;
  user-select: none;
}
.iconBorder path {
  stroke: #ec407a;
  stroke-width: 15;
  user-select: none;
}
.iconBorderActive:hover,
.iconBorder:hover {
  transform: translateY(-10%) rotate(-15deg);
}
.postContainer {
  margin-top: 20px;
}
